<div>
  <h1> Reactive Form </h1>
  <form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
    <input [formControl]="id" placeholder="id" type="number">
    <input [formControl]="name" placeholder="name" type="text">
    <input [formControl]="username" placeholder="username" type="text">
    <input [formControl]="email" placeholder="email" type="email">
    <input [formControl]="age" placeholder="age" type="number">
    <button [disabled]="!myForm.valid">Submit</button>
  </form>
  <br/>
  <div *ngIf="myForm.value">
    <div *ngFor="let x of user">
      ID:{{x.id}}; Name: {{x.name}}; UserName: {{x.username}}; Email: {{x.email}}; age: {{x.age}}.
    </div>
  </div>
</div>
<div>
  <h1>Form</h1>
  <form>

  </form>
</div>
