<!--<form #form="ngForm" (ngSubmit)="submit(form)">-->
<!--  <input [(ngModel)]="user.age" name="age">-->
<!--  <input [(ngModel)]="user.name" name="name" minlength="10">-->
<!--  <div *ngIf="!form.controls.name?.valid" [class.error]="!form.controls.name?.valid"> Name mast > 10</div>-->
<!--  <button>Submit</button>-->
<!--</form>-->

<!--<form [formGroup]="myForm" (ngSubmit)="submit(myForm)">-->
<!--  <input [formControl]="name" minlength="4">-->
<!--  <input [formControl]="age" minlength="3">-->
<!--  <button [disabled]="!myForm.valid">Submit</button>-->

<!--</form>-->
<app-user></app-user>
